<!--js의 용량이 클수록 body의 실행이 늦어지므로 body하단부에 js를 위치시킴-->
<!-- Bootstrap.js는 jquery가 있어야만 동작하므로 jquery를 앞에 위치시킴-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!-- url에서 /: src/main/resources/static -->
<script src="/js/app/index.js"></script>
</body>
</html>
